<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013378281721-21t9a8ana3g5n0qr48e6q4b15hehcig1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013378281721-21t9a8ana3g5n0qr48e6q4b15hehcig1</string>
	<key>API_KEY</key>
	<string>AIzaSyBv6To8WldL1d7ObYionGemv2ov905GGl0</string>
	<key>GCM_SENDER_ID</key>
	<string>1013378281721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dosantoniasApp</string>
	<key>PROJECT_ID</key>
	<string>antonias-29387</string>
	<key>STORAGE_BUCKET</key>
	<string>antonias-29387.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013378281721:ios:df6aeb8fff8660be3cb228</string>
</dict>
</plist>